@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@keyframes fade-in-up {
    0% {
        opacity: 0;
        bottom: -2;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0 1em 0 1em;
    font-family: 'Poppins', sans-serif;
    color: #0f0f0f;
    animation-name: fade-in-up;
    animation-duration: 1s;
}

.wrapper {
    max-width: 1200px;
    margin: 2em auto 0 auto;
}

.hero-intro {
    font-size: 3em;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #0f0f0f;
    &:hover {
        color: #000
    }
}

footer {
    ul {
        display: flex;
        li {
            margin-right: 0.6em;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    ul {
        display: flex;
        li {
            margin-right: 0.6em;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .logo {
        font-weight: bold;
        font-size: 1.2em;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin-top: 3em;
}

.grid {
    position: relative;
    cursor: pointer;
}

.img-responsive {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.img-overlay {
    background: rgb(15, 15, 15);
    background: -moz-linear-gradient(0deg, rgba(15, 15, 15, 0.8309698879551821) 0%, rgba(15, 15, 15, 0.6573004201680672) 25%, rgba(0, 212, 255, 0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(15, 15, 15, 0.8309698879551821) 0%, rgba(15, 15, 15, 0.6573004201680672) 25%, rgba(0, 212, 255, 0) 100%);
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.8309698879551821) 0%, rgba(15, 15, 15, 0.6573004201680672) 25%, rgba(0, 212, 255, 0) 100%);
    color: #fff;
    opacity: 0;
    padding: 1em;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
    .details-container {
        width: 60%;
    }
    .action-container {
        align-self: center;
    }
}

.action-btn {
    background-color: #f6f6f6;
    color: grey;
    font-weight: bold;
    padding: 1em;
    border-radius: 0.5em;
    &:hover {
        background-color: #f1f1f1;
        transition: all 0.3s ease-in-out;
    }
}

.grid:hover .img-overlay {
    overflow: hidden;
    animation-name: fade-in-up;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.tag {
    background-color: #f6f6f6;
    color: grey;
    font-size: 0.6em;
    padding: 0.5em;
    border-radius: 5px;
    font-weight: bold;
}

//Media queries
@media(max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    .hero-intro {
        font-size: 2em;
        font-weight: bold;
    }
}